
Himalayan_Angular/.vs/Himalayan_Angular/v15/Server/sqlite3/storage.ide-wal
Himalayan_Angular/.vs/Himalayan_Angular/v15/Server/sqlite3/storage.ide
Himalayan_Angular/.vs/Himalayan_Angular/v15/.suo
*.ide-shm
Himalayan_Angular/Himalayan_Angular/Himalayan_Angular.csproj.user
