<!--start of navbar-->
<div class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#"><img src="../../../Contents//img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#featured">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    <!--ok-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <!--okkk-->
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end of navar-->
<!--start of image slider-->
<section id="featured">
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../Contents//img/background.jpg" alt="Alternate Text" />
                <div class="carousel-caption">
                    <h1>New Parketing</h1>
                    <h3>Complete Parketing avialable here</h3>
                    <button type="button" class="btn btn-outline-success btn-lg">View Product</button>
                    <button type="button" class="btn btn-success btn-lg">Contact Us</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../Contents//img/background2.png" alt="Alternate Text" />
            </div>
            <div class="carousel-item">
                <img src="../../../Contents//img/background3.png" alt="Alternate Text" />
            </div>
        </div>
        <a class="carousel-control left" href="#slides" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="carousel-control right" href="#slides" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</section>
<!--End of image slider-->
<!--start of about us-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">About Us</h1>
            <hr />
            <div class="col-12">
                <p class="lead">
                    HIMALAYAN PINE WOOD established in the year 2016 with an aim to provide a complete
                    home solution that exceeds the expectation of our customers.<br /> We Deals in Laminate flooring,
                    modular kitchen with accessories and readymade door fitting at reasonable price. We are
                    associated with Arancia kuchen, Vanachai group Thailand, Evershine & Franky Faber.
                    With the correct and deep market understanding we are pleased to serve our valued customers
                    with a 4000 sq.ft. showroom space in the heart of capital city, krishna pauroti chowk,
                    kamalpokhari-01, Kathmandu, Nepal
                </p>
            </div>
        </div>
    </div>
    <div class="row text-center padding">
        <div class="col-12">
            <h1>Our Partner Brands</h1>
            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partnerBrandLogo"><img src="../../../Contents/img/vanapluslogo.png" /></div>
                    <h3>Vana Plus</h3>
                    <p>
                        Vana Plus manufactures parquet and doors with highly treated and seasoned wood. They are attractive,
                        durable and provide safety to homes. These products has been produced with the innovations and technologies that are
                        friendly to the nature and environment, resulting in the product of superb quality functional
                        standards, with fine appearances and form.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partnerBrandLogo"><img src="../../../Contents/img/frankeLogo.jpg" /></div>
                    <h3>Franke</h3>
                    <p>
                        Franke is the World's largest manufacturer of kitchen sinks and ovens, and is at the forefront of
                        research and development of new materials and products for the kitchen. The modern sink has
                        come a long way from its humble beginnings. Gone are the days when it was a massive sink tub
                        fixed to wall, with a wooden drainer beside it. Now, with kitchen design playing a key role in
                        home improvement, it has ceased to be a mere workaday item.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partnerBrandLogo"><img src="../../../Contents/img/Logo_Faber_60.jpg" /></div>
                    <h3>Faber</h3>
                    <p>
                        Since 1955, Faber has been making high quality, Italian engineered kitchen range hoods, wall
                        chimney and pro and under cabinet. With over 30 models to choose from, we offer the style,
                        selection and features to vent your kitchen and clean the air.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partnerBrandLogo"><img src="../../../Contents/img/aranciaLogo.png" /></div>
                    <h3>Arancia</h3>
                    <p>
                        Arancia is bringing a complete range of modular kitchens focussed on requirement of the
                        Customised Kitchen. The brand is launched by Evershine Olive Group which has been involved
                        in the modular kitchen industry since last 15 years.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!--End of about us-->
<!--start of Products-->

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 text-center text-success">
            <h2>Products</h2>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/Contents//img//parquetMain.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Parquet</h5>
                <p class="card-text">
                    We are a sole importer and distributor for Nepal of Vana plus Flooring a product of Vanachai
                    Group.
                </p>
            </div>
            <div class="card-footer">
                <small>
                    <button class="btn btn-outline-success btn-block">View Products</button>
                </small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Contents//img/doorMain.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Doors and accessories</h5>
                <p class="card-text">We provide best quality readymade doors and it's complete useful accessories.</p>
            </div>
            <div class="card-footer">
                <small>
                    <button class="btn btn-outline-success btn-block">View Products</button>
                </small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Contents/img/kitchenMain.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Kitchen</h5>
                <p class="card-text">We have best modular kitchen in town. Don't worry about the kitchen, you dream, we design and make it true. Best kitchen with great quality.</p>
            </div>
            <div class="card-footer">
                <small>
                    <button class="btn btn-outline-success btn-block">View Products</button>
                </small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Contents/img/wallpaperMain.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wallpaper</h5>
                <p class="card-text">We have best modular kitchen in town. Don't worry about the kitchen, you dream, we design and make it true. Best kitchen with great quality.</p>
            </div>
            <div class="card-footer">
                <small>
                    <button class="btn btn-outline-success btn-block">View Products</button>
                </small>
            </div>
        </div>
    </div>

</div>

<!--end of Products-->
<!--start of projects-->
<div class="container-fluid padding img-background mt-3">
    <div class="row welcome text-center ">
        <div class="col-12">
            <h1 class="text-success">Our Projects</h1>
            <hr />
            <div class="col-12">
                <p class="lead">
                    We are supplying laminate flooring to the different projects like apartments, residency, hotels,
                    restaurant etc.
                </p>
            </div>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2 class="text-primary">Cityscape</h2>
            <p>
                Cityspace is an apartment constructed by CG Properties (Chaudhary Group) at Hattiban, Lalitpur.
                We are supplying laminate flooring on this project.
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="text-primary">Downtown Apartment</h2>
            <p>
                Downtown Apartment constructed by Downtown housing company pvt. ltd. at Dhapakhel
                Lalitpur. We are supplying laminate flooring and its accessories
            </p>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2 class="text-primary">Hotel Crowne Imperial</h2>
            <p>
                A 4 star hotel located at Ravibhawan Kathmandu. We are supplying
                laminate flooring.
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="text-primary">Shalimar Homes</h2>
            <p>
                Apartment located at Birgunj. We have installed readymade doors and
                laminate flooring.
            </p>
        </div>
    </div>
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2 class="text-primary">Mero City:</h2>
            <p>
                Apartment constructed by Royal Orchid Developers located at Hattiban, Lalitpur. We
                are supplying readymade doors and flooring.
            </p>
        </div>
        <div class="col-lg-6">
            <h2 class="text-primary">Soaltee Sibkrim Hotel & Resort, Nepalgunj</h2>
            <p>
                A 4 star hotel located at Nepalgunj. We have supplied readymade doors and laminate flooring.
            </p>
        </div>
    </div>
</div>

<!--end of projects-->
<!--start of  Contact-->

<div class="container-fluid">
    <div class="row welcome text-center ">
        <div class="col-12">
            <h1 class="text-success">Contact US</h1>
            <hr />
            <div class="col-12">
                <p class="lead">
                    We are located in heart of capital city, krishna pauroti chowk, kamalpokhari-01, Kathmandu Nepal. Also we have our branch office at Ujwal Nagar, Kageshwori Manohara- 09, Kadaghari. (near suncity).
                </p>
            </div>
        </div>
    </div>
</div>

<!--start of  Contact-->
